/* GENERAL STYLINGS */

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
}

footer {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  background-image: linear-gradient(235deg, lavender, white);
}

/* LAYOUT */
main article {
  padding-left: 0.5 rem;
  padding-right: 1rem;
}

article {
  padding: 0.75rem;
}

header a {
  padding: 0.4rem;
  color: darkslateblue;
}

a:link {
  background-color: transparent;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  background-color: rgb(226, 215, 226);
}

a:active {
  background-color: lightsteelblue;
}


article + article {
  border-top: 2px solid lavender;
}

::selection {
  background-color: rgb(79, 79, 148);
  color: whitesmoke;
}

/* SPECIFIC STYLINGS */
.header {
  text-align: center;
  background-image: linear-gradient(235deg, white, lavender);
  padding: 3rem 1rem;
}

.main {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.header p::after {
  content: " 🧘‍♀️";
}

.name-header {
  font-size: 3.3rem;
}

.name {
  font-size: 1em;
  margin-bottom: 0;
}

.occupation {
  font-size: 0.25em;
margin-top: 0;
margin-bottom: 2rem;
}

.cont-flex {
display: flex;
flex-direction: column;


}
.experience-heading {
  display: block;
}

.experience-subheading {
  display: block;
}

.article-heading {
  position: relative;
  left: -2rem;
}

.hire-me {
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  font-weight: bold;

  background-color: rgb(226, 215, 226);

  padding: 0.4rem;
  border-radius: 0.4rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* MEDIA QUERIES */

/* print hide */
@media print {
  .nav, .hire-me {
    display: none;
  }
}

/* small screen */
@media screen and (max-width: 785px) {
  .nav a {
    display: block;
    text-align: center;
  }
  
  body {
    font-size: .8rem;
  }

  .main {
    max-width: 85%;
  }

  .article-heading {
    position: static;
  }

  .spacing-span {
    display: none;
  }
}
/* medium screen*/
@media screen and (min-width: 786px) {
  body {
  font-size: 1rem;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cont-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
}

  .main > * + * {
  margin-top: 3rem;
  max-width: 75%;
  }


/* large screen*/
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.2rem;
  }

  .hire-me {
    position: fixed;
    font-size: 1.5em;
  }

  .main > * + * {
    margin-top: 4rem;
  }

  .cont-flex {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
  }
}


