/* GENERAL STYLINGS */

:root {
  --main-color: black;
  --bcg-color: white;
  --accent-color1: lavender;
  --accent-color2: white;
  --bcg-sel-color: rgb(79, 79, 148);
  --link-active: lightsteelblue;
  --link-visited: dimgray;
}


* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  background-color: var(--bcg-color);
  color: var(--main-color);
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
}

footer {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  background-image: linear-gradient(
    235deg,
    var(--accent-color1),
    var(--accent-color2)
  );
}

/* LAYOUT */
main article {
  padding-left: 0.5 rem;
  padding-right: 1rem;
}

article {
  padding: 0.75rem;
}

header a {
  padding: 0.4rem;
  color: var(--main-color);
}

a:link {
  background-color: transparent;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  background-color: var(--accent-color1);
}

a:active {
  background-color: var(--link-active);
}

article + article {
  border-top: 2px solid var(--accent-color1);
}

::selection {
  background-color: var(--bcg-sel-color);
  color: var(--accent-color2);
}

/* SPECIFIC STYLINGS */
.header {
  text-align: center;
  background-image: linear-gradient(
    235deg,
    var(--accent-color2),
    var(--accent-color1)
  );
  padding: 3rem 1rem;
}

/* .header:hover .hire-me {
  transform: scale(1.5);
  transform-origin: top right;
} */

.header .hire-me {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  transform-origin: top right;
}

.header:hover .hire-me {
  transform: scale(1.5);
}


.main {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.header p::after {
  content: " 🧘‍♀️";
}

.name-header {
  font-size: 3.3rem;
}

.name {
  font-size: 1em;
  margin-bottom: 0;
}

.occupation {
  font-size: 0.25em;
  margin-top: 0;
  margin-bottom: 2rem;
}

.cont-flex {
  display: flex;
  flex-direction: column;
}
.experience-heading {
  display: block;
}

.experience-subheading {
  display: block;
}

.article-heading {
  position: relative;
  left: -2rem;
}

.hire-me {
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  font-weight: bold;

  background-color: var(--accent-color1);

  padding: 0.4rem;
  border-radius: 0.4rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* MEDIA QUERIES */

/* print hide */
@media print {
  .nav,
  .hire-me {
    display: none;
  }
}
/*dark mode*/
@media screen and (prefers-color-scheme: dark) {
  :root {
    --main-color: #f5f5f5;
    --bcg-color: #1A1423;
    --accent-color1: rgb(30, 30, 59);
    --accent-color2: rgb(44, 44, 87);
    --bcg-sel-color: rgb(79, 79, 148);
    --link-active: lightsteelblue;
    --link-visited: lightgray;
  }
}

/* small screen */
@media screen and (max-width: 785px) {
  .nav a {
    display: block;
    text-align: center;
  }

  body {
    font-size: 0.8rem;
  }

  .main {
    max-width: 85%;
  }

  .article-heading {
    position: static;
  }

  .spacing-span {
    display: none;
  }
}
/* medium screen*/
@media screen and (min-width: 786px) {
  body {
    font-size: 1rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cont-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  }
}

.main > * + * {
  margin-top: 3rem;
  max-width: 75%;
}

/* large screen*/
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.2rem;
  }

  .hire-me {
    position: fixed;
    font-size: 1.5em;
  }

  .main > * + * {
    margin-top: 4rem;
  }

  .cont-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
