* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Lato, sans-serif;
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
}

.header {
  text-align: center;
  background-color: lavender;
  padding: 48px 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

article {
  padding: 10px;
}

header a {
  padding: 5px;
  color: darkslateblue;
}

a:link {
  background-color: transparent;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  background-color: rgb(226, 215, 226);
}

a:active {
  background-color: lightsteelblue;
}

article + article {
  border-top: 2px solid LightGray;
}
